:root{
    font-family: "Indie Flower", serif;
    font-weight: 800;
}
body{
    background: url("./assets/paper-texture-1.jpg"), rgb(0,0,0);
    background-size: 140%;
    background-position: 55%;
    height: 100vh;
}
div{
    /* border: 2px solid red; */
}
main{
    height: 70%;
    width: 85%;
    border: 3px solid blue;
    margin-inline: auto;
}
h1{
    width: fit-content;
    margin-inline: auto;
}
p{
    width:fit-content;
    margin: auto;
}
#Design{
    height: 85%;
}
#Design img{
    width: 130%;
    position: absolute;
    left: -15%;
    top: -8%;
}
#Name{
    height: 15%;
    font-family: "Indie Flower", serif;
    font-weight: 800;
    font-size: 40px;
}
#Name p{
}
#Options{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#Options img{
    width: 75px;
}
#mainHat{z-index: 4;}
#mainGlasses{z-index: 3;}
#mainOther{z-index: 2;}
#mainCharacter{z-index: 1;}

.modal-viewer{
    width: 90%;
    aspect-ratio: 1;
    position: absolute;
    top: 15%;
    left: 5%;
    height: 60%;
    background-color: white;
    overflow-y: scroll;
    margin-inline: auto;
    display: none;
    z-index: 5;
}
.view{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.modal-viewer>img{
    width: 100px;
    height: 100px;
    margin: auto;
}